/* style.css */
body {
    background-color: #f7c1d7; /* Force background color */
    color: #880e4f;
    font-family: 'Helvetica', sans-serif;
}
.stButton>button {
    background-color: #ff6095; /* Pink button background */
    color: #ffffff; /* White button text */
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
}
.stButton>button:hover {
    background-color: #e91e63; /* Slightly darker pink on hover */
    color: #ffffff; /* Ensure text remains white */
}
.stTextInput>div>input {
    background-color: #fce4ec;
    color: #880e4f;
}
.stSelectbox>div>div>input {
    background-color: #fce4ec;
    color: #880e4f;
}
.stSlider>div>div>div>input {
    background-color: #fce4ec;
}
.stText {
    color: #880e4f;
}

.star {
    width: 200px;  
    aspect-ratio: 1;
    background: #F8BBE1;
    clip-path: polygon(
      50% 0,
      calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
      calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
      calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
      calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn)))
    ); 
    position: fixed;
    top: 20%;
    z-index: 100;
  }
  
  .star.left {
    left: 5px; /* Adjust for desired position */
  }
  
  .star.right {
    right: 5px; /* Adjust for desired position */
  }
  